<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">New Candidate</h2>
    <p class="category">Add a New Candidate!</p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Fill the details!</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="candidateForm">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name<font color="red">*</font></label>
                  <input type="text" class="form-control" id="firstName" [(ngModel)]="candidate.firstName" name="firstName" formControlName="firstName">
                  <small
                    *ngIf="!candidateForm.controls['firstName'].valid && candidateForm.controls['firstName'].touched">First
                    Name is required</small>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name<font color="red">*</font></label>
                  <input type="text" class="form-control" id="lastName" [(ngModel)]="candidate.lastName" name="lastName" formControlName="lastName">
                  <small
                    *ngIf="!candidateForm.controls['lastName'].valid && candidateForm.controls['lastName'].touched">Last
                    Name is required</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Email <font color="red">*</font></label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="candidate.email" name="email" formControlName="email">
                  <small
                    *ngIf="!candidateForm.controls['email'].valid && candidateForm.controls['email'].touched">Incorrect
                    email format</small>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Phone<font color="red">*</font></label>
                  <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="candidate.phoneNumber" name="phoneNumber"
                    formControlName="phoneNumber" maxlength="10" (keypress)=_keypress($event) >
                  <small
                    *ngIf="!candidateForm.controls['phoneNumber'].valid && candidateForm.controls['phoneNumber'].touched">
                    Enter valid 10 digit Phone Number</small>
          
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Experience Years<font color="red">*</font></label>
                  <input type="number" class="form-control" [(ngModel)]="candidate.experienceYears" id="experienceYears" name="experienceYears"
                    formControlName="experienceYears">
                  <small
                    *ngIf="!candidateForm.controls['experienceYears'].valid && candidateForm.controls['experienceYears'].touched">Experience
                    Years is Required</small>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Online Score<font color="red">*</font></label>
                  <input type="Number" class="form-control" [(ngModel)]="candidate.onlineScore" id="onlineScore" name="onlineScore"
                    formControlName="onlineScore">
                  <small
                    *ngIf="!candidateForm.controls['onlineScore'].valid && candidateForm.controls['onlineScore'].touched">Online
                    Score is Required</small>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label> Requirement<font color="red">*</font></label>
                    <select type="text" class="form-control" id="requisitionId" name="requisitionId"
                      formControlName="requisitionId" [(ngModel)]="candidate.requisitionId">
                      <option *ngFor="let x of requirement" [value]="x.requisitionId">{{x.requisitionId}}  {{x.position}}</option>
                    </select>
                    <small
                      *ngIf="!candidateForm.controls['requisitionId'].valid && candidateForm.controls['requisitionId'].touched">Requisition ID
                      is Required</small>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Skill Set</label>
                  <textarea rows="2" cols="80" class="form-control" id="skillSet" name="skillSet"
                    formControlName="skillSet" [(ngModel)]="candidate.skillSet"></textarea>
                </div>
              </div>
            </div>
          </form>
          <div class="button-container text-center" *ngIf="!phoneValue">
              <button class="btn btn-primary" (click)="onSubmit()">Submit!</button>
            </div>
            <div class="button-container text-center" *ngIf="phoneValue">
              <button class="btn btn-primary" (click)="onUpdate()">Update!</button>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <a href="#">
              <h5 class="title"><br><br><br>RESUME UPLOAD<font color="red">*</font></h5>
            </a>
            <p class="description">
              Parse the resume to automatically fill in all the deatils.
            </p>
            <small
            *ngIf="resumeUploaded == false">
            *Resume is required</small>
            <input type="file"
             (change)="onFileChanged($event)">
          </div>
        </div>
        <hr>
        <div class="button-container">
          <button class="btn btn-primary" (click)="onUpload()">Parse</button>
        </div>
      </div>
    </div>
  </div>
</div>
