<button class ="float" *ngIf="!showChatBox" (click)="openChatBox()">+</button>

<kendo-dialog class ="chatWindow" [width]="300" [height]="500" *ngIf="showChatBox" title="Idemia Chat Support" (close)="openChatBox()">
    <kendo-chat  [messages]="feed | async" [user]="user" (sendMessage)="sendMessage($event)"></kendo-chat>
</kendo-dialog>

<router-outlet></router-outlet>