.card{
    margin-bottom: 5px;
    .card-body{
    padding: 10px 20px 3px 15px}

}

.main-content{
    padding: 0 30px 30px;
    min-height: calc(80vh - 100px);
}

.paddedText{
    padding: 20px 20px 20px 20px;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}