
<div id="print-section" *ngIf="candidate">
  <div class="panel-header">
    <div class="header text-center">
      <h2 class="title">{{candidate.firstName}} {{candidate.lastName}}</h2>
      <p class="category"> Registered on {{candidate.dateOfEnrollment | date}}</p>
      <h5><span class="badge badge-danger">
          {{candidate.status}}</span></h5>
    </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-chart">
          <div class="card-header">
            <h6 class="card-title">BASIC DETAILS</h6>
            <div ngbDropdown>
              <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
                ngbDropdownToggle>
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-right">
                <a class="dropdown-item" (click)="print()">Print</a>
                <a class="dropdown-item" [routerLink]="['/edit-candidate',candidate.phoneNumber]" (click)="editCandidateProfile()">Edit</a>
                <a class="dropdown-item text-danger" href="#">Delete</a>
              </div>
            </div>
          </div>
          <div class="row center-block ">
            <div class="col-md-7">
              <!-- <div class="card-body">
                <div class="card">
                  <div class="card-header bg-primary text-white"> <i>PAN Number <br><br> </i></div>
                  <div class="card-body">
                    <p>{{candidate.panCard}} </p>
                  </div>
                </div>
              </div> -->
              <div class="card-body">
                <div class="card">
                  <div class="card-header bg-primary text-white"> <i>Phone Number <br><br> </i></div>
                  <div class="card-body">
                    <p>{{candidate.phoneNumber}} </p>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="card">
                  <div class="card-header bg-primary text-white"> <i>Email <br><br> </i></div>
                  <div class="card-body">
                    <p>{{candidate.email}} </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <div class="card-header bg-primary text-white text-center"> REQUISITION ID <br><br></div>
                <div class="card-body text-center">
                  <h1>{{candidate.requisitionId}} </h1>
                </div>
              </div>
              <div class="card">
                <div class="card-header bg-primary text-white text-center"> ONLINE SCORE <br><br></div>
                <div class="card-body text-center">
                  <h1>{{candidate.onlineScore}} </h1>
                </div>
              </div>


            </div>

          </div>
          <!-- <div class="button-container text-center">
            <button class="btn btn-primary" (click)="getInterviewDetials()">Get Interview Details!</button>
          </div> -->
          <!-- <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Refresh <br>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="main-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-chart" >
          <div class="card-header">
            <h6 class="card-title">INTERVIEW DETAILS <br><br> </h6>
          </div>
          <div *ngIf=viewInterview>
          <div class="row" *ngFor="let interview of interviews" >
            <div class="col-lg-12">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">{{interview.requisitionId}}</h5>
                  <h5 class="card-title">Round Number : {{interview.roundNumber}} <span class="badge badge-danger">
                      {{interview.roundStatus}}</span></h5>
                  <div ngbDropdown>
                    
                      <!-- <button style="margin-right:10px" class="feedback-class btn btn-round btn-default  btn-simple btn-icon no-caret "><img src="./assets/images/feedback.png"/></button> -->
                      <!-- <button (click)="giveFeedback(interview.interviewId)" title="Feedback" style="margin-right:10px; border: none;"class="btn btn-simple btn-icon  "><img src="./assets/images/feedback1.png"/></button> -->
                 
                    <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
                      ngbDropdownToggle>
                      <i class="now-ui-icons loader_gear"></i>
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu-right">
                      <a class="dropdown-item" (click)="showCandidateRoundDetail(interview.interviewId,interview.roundNumber)">Details</a>
                      <a class="dropdown-item" (click)="giveFeedback(interview.interviewId)">Send Feedback</a>
                      <a class="dropdown-item text-danger" href="#">Delete</a>
                    </div>
                  </div>
                 
                </div>
                <div class="card-body">
                  <div class="">
                    <h6>INTERVIEWER'S FEEDBACK</h6>
                    <p>Overall Rating : {{interview.overallRating}}</p>
                    <p> Comments : {{interview.interviewerComments}}</p>
                  </div>
                  <div *ngIf="interview.candidateFeedback">
                    <h6>CANDIDATE'S FEEDBACK</h6>
                  <p>Overall Rating : {{interview.candidateFeedback.candFeedOverallRating}}</p>
                  <p >Comments : {{interview.candidateFeedback.candFeedComments}}</p>
                  
                    </div>
                </div>
              </div>
            </div>
          </div>
         </div>
         <div *ngIf=!viewInterview>
            <p class="text-info paddedText" > No Interview Round Exists. Create a new Interview! </p>
          </div>
        <div class="button-container text-center" *ngIf=nextRound >
            <button class="btn btn-primary"  [routerLink]="['/interview-feedback', candidate.phoneNumber, interviewRoundNumber]" (click)="addInterviewRounds()">Add Interview Round.</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- modal for display detail of particular round -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}"
 *ngIf="ispopUpShow" appOutside (click)="ClickedOut($event)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detail of Round: {{interview.roundNumber}}</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">x</button> -->
        <div class="popupCloseButton" (click)="closePop()">X</div>
      </div>
      <div class="modal-body" *ngIf="interview">
        <ul>
          <p><strong>Interviewer Name:</strong>{{interview.interviewerName}}</p>

          <h6>{{candidate.firstName}}"s DOMAIN SKILLS</h6>
          <li *ngIf="interview.domainLogic"><strong>Domain Logic:</strong>{{interview.domainLogic}}</li>
          <li *ngIf="interview.programming"><strong>programming:</strong>{{interview.programming}}</li>
          <li *ngIf="interview.analysis"><strong>analysis:</strong>{{interview.analysis}}</li>
          <li *ngIf="interview.designing"><strong>designing:</strong>{{interview.designing}}</li>
          <li *ngIf="interview.integration"><strong>integration:</strong>{{interview.integration}}</li>
          <li *ngIf="interview.process"><strong>process:</strong>{{interview.process}}</li>
          <li *ngIf="interview.quality"><strong>quality:</strong>{{interview.quality}}</li>
          <li *ngIf="interview.testing"><strong>testing:</strong>{{interview.testing}}</li>
          <li *ngIf="interview.structuredTechniques"><strong>structuredTechniques:</strong>{{interview.structuredTechniques}}</li>
          <li *ngIf="interview.documentation"><strong>documentation:</strong>{{interview.documentation}}</li>
          <li *ngIf="interview.techSupport"><strong>techSupport:</strong>{{interview.techSupport}}</li>
          <li *ngIf="interview.sysAdministration"><strong>sysAdministration:</strong>{{interview.sysAdministration}}</li>

          <h6> {{candidate.firstName}}'s MANAGERIAL SKILLS</h6>

          <li *ngIf="interview.planningAndOrganizing"><strong>planningAndOrganizing:</strong>{{interview.planningAndOrganizing}}</li>
          <li *ngIf="interview.domainLogic"><strong>scheduleManagement:</strong>{{interview.domainLogic}}</li>
          <li *ngIf="interview.projectManagement"><strong>projectManagement:</strong>{{interview.projectManagement}}</li>
          <li *ngIf="interview.projectEstimationSkills"><strong>projectEstimationSkills:</strong>{{interview.projectEstimationSkills}}</li>
          <li *ngIf="interview.peopleManagement"><strong>peopleManagement:</strong>{{interview.peopleManagement}}</li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
