<div class="panel-header">
    <div class="header text-center">
      <h2 class="title">Dashboard</h2>
      <p class="category"> </p>
    </div>
  </div>

  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Hiring at a Glance</h5>
          </div>
          <div class="card-body">
              <div class="row" *ngIf="dashboard">
                  <div class="col-xl-4 col-lg-6">
                      <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="dashboard.selectedCount" [label]="'Candidate Selected'" ></app-stat>
                  </div>
                  <div class="col-xl-4 col-lg-6">
                      <app-stat [bgClass]="'primary'" [icon]="'fa-tasks'" [count]="dashboard.interviewedCount" [label]="'Canididate Interviewed'" ></app-stat>
                  </div>
                  <div class="col-xl-4 col-lg-6">
                      <app-stat [bgClass]="'primary'" [icon]="'fa-money'" [count]="dashboard.rejectedCount" [label]="'Candidate Rejected'" ></app-stat>
                  </div>
              </div>
          </div>
        </div>

        <div class="card" *ngIf="dashboard">
            <div class="card-header">
              <h5 class="title">Charts</h5>
            </div>
            <div style="display: block">
                <canvas baseChart
                        [data]="[dashboard.selectedCount,dashboard.interviewedCount,dashboard.rejectedCount]"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"></canvas>
              </div>
          </div>
      </div>
    </div>
  </div>

      

