<div *ngIf ="candidate" class="panel-header">
  <div class="header text-center">
    <h2 class="title">ROUND {{roundNumber}}</h2>
    <h4 class="category">{{candidate.firstName}} {{candidate.lastName}}</h4>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <a href="#details/{{phoneNumber}}">
              <h5 class="title"><br><br><br>{{candidate.firstName}} {{candidate.lastName}}</h5>
            </a>
            <!-- <p>Position : <p>
                <p class="description">
                  {{candidate.requisitionId}}
                </p> -->
                <p>Experience Years : <p>
                    <p class="description">
                      {{candidate.experienceYears}}
                    </p>
                    <p>SkillSet : <p>
                        <p class="description">
                            {{candidate.skillSet}}
                        </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Fill the details!</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="interviewForm">
            <div class="row">
              <div class="col-md-12 pr-1">
                <div class="form-group">
                  <label>Interviewer Name<font color="red">*</font></label>
                  <input type="text" class="form-control" id="firstName" name="interviewerName"
                    formControlName="interviewerName">
                  <small
                    *ngIf="!interviewForm.controls['interviewerName'].valid && interviewForm.controls['interviewerName'].touched">Interviewer
                    Name is required</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Date Of Interview <font color="red">*</font></label>
                  <input type="date" class="form-control" id="dateOfInterview" name="dateOfInterview"
                    formControlName="dateOfInterview">
                  <small
                    *ngIf="!interviewForm.controls['dateOfInterview'].valid && interviewForm.controls['dateOfInterview'].touched">
                    Date should be entered!</small>
                </div>
              </div>
            </div>
            <hr>
            <h6 class="text-info text-center"><br> To be assessed on rising scale of 5. <br> <br> 1:Poor, 2:Fair, 3 :
              Good, 4: Very Good, 5 :Excellent <br><br></h6>


            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label> Domain/Business Logic </label>
                  <select type="text" class="form-control" id="domainLogic" name="domainLogic"
                    formControlName="domainLogic">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label> Programming </label>
                  <select type="text" class="form-control" id="programming" name="programming"
                    formControlName="programming">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label> Analysis </label>
                  <select type="text" class="form-control" id="analysis" name="analysis" formControlName="analysis">
                    <option *ngFor="let x of rating" [value]="x">{{x}}</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label> Designing </label>
                  <select type="text" class="form-control" id="designing" name="designing" formControlName="designing">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label> Integration / Interface </label>
                  <select type="text" class="form-control" id="integration" name="integration"
                    formControlName="integration">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label> Process </label>
                  <select type="text" class="form-control" id="process" name="process" formControlName="process">
                    <option *ngFor="let x of rating" [value]="x">{{x}}</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label> Quality </label>
                  <select type="text" class="form-control" id="quality" name="quality" formControlName="quality">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label> Testing </label>
                  <select type="text" class="form-control" id="testing" name="testing" formControlName="testing">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label> Structured Techniques </label>
                  <select type="text" class="form-control" id="structuredTechniques" name="structuredTechniques"
                    formControlName="structuredTechniques">
                    <option *ngFor="let x of rating" [value]="x">{{x}}</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label> Documentation </label>
                  <select type="text" class="form-control" id="documentation" name="documentation"
                    formControlName="documentation">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label> Tech Support </label>
                  <select type="text" class="form-control" id="techSupport" name="techSupport"
                    formControlName="techSupport">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label> System Administration </label>
                  <select type="text" class="form-control" id="sysAdministration" name="sysAdministration"
                    formControlName="sysAdministration">
                    <option *ngFor="let x of rating" [value]="x">{{x}}</option>
                  </select>
                </div>
              </div>
            </div>

            <hr>

            <br><br>
            <h6 class="text-info"> MANAGERIAL SKILLS </h6>
            <br><br>


              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label> Planning & Organizing </label>
                    <select type="text" class="form-control" id="planningAndOrganizing" name="planningAndOrganizing"
                      formControlName="planningAndOrganizing">
                      <option *ngFor="let x of rating" [value]="x">{{x}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>
                      Schedule management </label>
                    <select type="text" class="form-control" id="scheduleManagement" name="scheduleManagement"
                      formControlName="scheduleManagement">
                      <option *ngFor="let x of rating" [value]="x">{{x}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label> Project Management </label>
                    <select type="text" class="form-control" id="projectManagement" name="projectManagement"
                      formControlName="projectManagement">
                      <option *ngFor="let x of rating" [value]="x">{{x}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class = "row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>
                    Project Estimation Skills </label>
                  <select type="text" class="form-control" id="projectEstimationSkills" name="projectEstimationSkills"
                    formControlName="projectEstimationSkills">
                    <option *ngFor="let x of rating" [value]="x">{{x}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label> People Management </label>
                  <select type="text" class="form-control" id="peopleManagement" name="peopleManagement"
                    formControlName="peopleManagement">
                    <option *ngFor="let x of rating" [value]="x">{{x}}</option>
                  </select>
                </div>
              </div>
            </div>

              <br> <br>
              <hr> <br> <br>

              <div class="col-md-12 pl-1">
                <div class="form-group">
                  <label>
                    <h6> OVERALL RATING </h6>
                  </label>
                  <select type="text" class="form-control" id="overallRating" name="overallRating"
                    formControlName="overallRating">
                    <option *ngFor="let x of rating" [value]="x">{{x}}</option>
                  </select>
                </div>
              </div>



              <div class="col-md-12 pl-1">
                <div class="form-group">
                  <label>
                    <h6> RECOMMENDATIONS</h6>
                    <!-- <ng-container *ngIf="selectedNav==='REJECTED'">
                        <h6>Rejection's Reason</h6>
                    </ng-container>
                    <ng-container *ngIf="selectedNav==='SELECTED'">
                        <h6>Selection's Reason</h6>
                    </ng-container> -->
                  </label>
                  <select type="text" class="form-control" id="roundStatus" name="roundStatus"
                    formControlName="roundStatus">
                    <option *ngFor="let x of roundStatus" [value]="x">{{x}}</option>
                   </select>
                </div>
              </div>

              <ng-container *ngIf="interviewForm.value['roundStatus']==='REJECTED'">
                  <div class="col-md-12 pl-1">
                      <div class="form-group">
                        <label>
                          <h6>Rejection's Reason</h6>
                        </label>
                      <select type="text" class="form-control" id="rejectReason" name="rejectReason"
                    formControlName="reason" >
                    <option *ngFor="let y of rejectReason" [value]="y">{{y}}</option>
                   </select>
                      </div>
                  </div>
              </ng-container>

              <ng-container *ngIf="interviewForm.value['roundStatus']==='SELECTED'">
                  <div class="col-md-12 pl-1">
                      <div class="form-group">
                        <label>
                          <h6>Selection's Reason</h6>
                        </label>
                          <select type="text" class="form-control" id="rejectReason" name="rejectReason"
                          formControlName="reason" >
                          <option *ngFor="let z of selectReason" [value]="z">{{z}}</option>
                         </select>
                      </div>
                  </div>
                </ng-container>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Interviewer's Comments</label>
                    <textarea rows="2" cols="80" class="form-control" id="interviewerComments"
                      name="interviewerComments" formControlName="interviewerComments"></textarea>
                      </div>
                </div>
              </div>
          </form>
          <div class="button-container text-center">
            <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>