<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">All Requirements</h2>
    <p class="category">List of All Requirements</p>
    <div>
      <!-- <p>to download sample excel format</p> -->
    </div>
    <div class="button-container" style="float: right">
      <button class="btn btn-icon btn-sm" (click)="exportAsXLSX()" placement="top"
        ngbTooltip="Download Sample format"><i class="now-ui-icons education_paper"></i></button>
      <input style="background-color: white" type="file" (change)="onFileChanged($event)">
      <button class="btn btn-primary" (click)="onUpload()" style="margin-right: 10px">Upload!</button>
    </div>

  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="card card-chart">
      <div class="card-header">
        <form class="d-flex justify-content-center">
          <div class="input-group col-md-4">
            <input type="text" value="" class="form-control" placeholder="Search..." class="form-control ml-2"
              type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
            <span class="" *ngIf="service.loading$ | async"> <i class="now-ui-icons loader_refresh"></i></span>
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="now-ui-icons ui-1_zoom-bold"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let requirement of requirements$ | async">
    <div class="col-lg-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">
            <ngb-highlight [result]="requirement.requisitionId" [term]="service.searchTerm"></ngb-highlight>
          </h5>
          <h5 class="card-title">
            <ngb-highlight [result]="requirement.position" [term]="service.searchTerm"></ngb-highlight><span
              class="badge badge-danger">
              <ngb-highlight [result]="requirement.jobStatus" [term]="service.searchTerm"></ngb-highlight>
            </span>
          </h5>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
              ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" (click)="showRequirementDetail(requirement.requisitionId)">Details</a>
              <a class="dropdown-item text-danger" href="#">Delete</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="">
            <h6>
              <ngb-highlight [result]="requirement.domain" [term]="service.searchTerm"></ngb-highlight>
            </h6>
            <p>
              <ngb-highlight [result]="requirement.jobDescription" [term]="service.searchTerm"> </ngb-highlight>
            </p>
          </div>
        </div>
        <!-- <div class="card-footer">
            <div class="stats">
              <i class="now-ui-icons arrows-1_refresh-69"></i> Read more.
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>

<!-- modal for display detail of the open requirement -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" *ngIf="ispopUpShow" appOutside
  (click)="ClickedOut($event)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Requirement Detail</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">x</button> -->
        <div class="popupCloseButton" (click)="closePop()">X</div>
      </div>
      <div class="modal-body" *ngIf=requirement>
        <ul>
          <li><strong>Description:</strong> {{requirement.jobDescription}}</li>
          <li><strong>Job Position:</strong>{{requirement.position}}</li>
          <li><strong>Job domain:</strong>{{requirement.domain}}</li>
          <li><strong>Job Sub-Domain:</strong>{{requirement.subDomain}}</li>
          <li><strong>Job Status:</strong>{{requirement.jobStatus}}</li>
          <li><strong>Reporting Manager:</strong> {{requirement.reportingManager}}</li>
          <li><strong>RequisitionId:</strong> RequisitionId:{{requirement.requisitionId}}</li>
          <li><strong>Date Of Opening:</strong>{{requirement.dateOfOpening | date: 'dd/MM/yyyy'}}</li>
        </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>