<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">All Candidates</h2>
    <p class="category">List of All Candidates</p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
            <form class="d-flex justify-content-center">
                <div class="input-group col-md-4">
                  <input type="text" value="" class="form-control" placeholder="Search..." class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
                  <span class="" *ngIf="service.loading$ | async"> <i class="now-ui-icons loader_refresh"></i></span>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="now-ui-icons ui-1_zoom-bold"></i>
                    </div>
                  </div>
                </div>
              </form>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <!-- <th *ngFor="let header of headers">
                  {{header}}
                </th> -->
                <tr>
                  <th scope="col" sortable="firstName" (sort)="onSort($event)">Name</th>
                  <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
                  <th scope="col" sortable="phoneNumber" (sort)="onSort($event)">Phone Number</th>
                  <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let candidate of candidates$ | async">
                  <td>
                    <ngb-highlight [result]="candidate.firstName" [term]="service.searchTerm"></ngb-highlight>
                    &nbsp;<ngb-highlight [result]="candidate.lastName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="candidate.email" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="candidate.phoneNumber" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="candidate.status" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <div class="text-right">
                    <td>
                      <button class="btn btn-icon btn-sm" [routerLink]="['/details', candidate.phoneNumber]" placement="top" ngbTooltip="View Profile"><i
                          class="now-ui-icons users_single-02"></i></button>
                    </td>
                    <td>
                      <button class="btn btn-icon btn-sm" (click)="downloadResume(candidate.phoneNumber)" placement="top" ngbTooltip="Download Resume"><i
                          class="now-ui-icons education_paper"></i></button>
                    </td>
                  </div>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
              </select>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>