
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://idemia.com">
            IDEMIA HIRE
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, . All Right Reserved, 
      <a href="https://www.idemia.com" target="_blank">IDEMIA</a>
    </div>
  </div>
</footer>
